<div class="full-screen">
    <div class="inner">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="home-container ">
                <div class="box">
                    <span class="fa fa-thumbs-up"></span>
                    <h3>Completed Tesk</h3>
                    <h2>{{list.done.length}}</h2>
                </div>
                <div class="box">
                    <span class="fa fa-thumbs-down"></span>
                    <h3>Uncompleted Tesk</h3>
                    <h2>{{list.wait.length}}</h2>
                </div>
                <div class="box">
                    <a class="btn btn-block btn-primary" href="/projects/angularjs-todo-list/add">Add Tesk <i class="fa fa-edit"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
